<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD</key>
	<string>^AD[0-9]{2}[0-9]{8}[a-zA-Z0-9]{12}$</string>
	<key>AE</key>
	<string>^AE[0-9]{2}[0-9]{3}[0-9]{16}$</string>
	<key>AL</key>
	<string>^AL[0-9]{2}[0-9]{8}[a-zA-Z0-9]{16}$</string>
	<key>AO</key>
	<string>^AO[0-9]{23}$</string>
	<key>AT</key>
	<string>^AT[0-9]{2}[0-9]{16}$</string>
	<key>AZ</key>
	<string>^AZ[0-9]{2}[a-zA-Z0-9]{4}[0-9]{20}$</string>
	<key>BA</key>
	<string>^BA[0-9]{2}[0-9]{16}$</string>
	<key>BE</key>
	<string>^BE[0-9]{2}[0-9]{12}$</string>
	<key>BF</key>
	<string>^BF[0-9]{26}$</string>
	<key>BG</key>
	<string>^BG[0-9]{2}[A-Z]{4}[0-9]{6}[a-zA-Z0-9]{8}$</string>
	<key>BH</key>
	<string>^BH[0-9]{2}[A-Z]{4}[a-zA-Z0-9]{14}$</string>
	<key>BI</key>
	<string>^BI[0-9]{14}$</string>
	<key>BJ</key>
	<string>^BJ[0-9]{26}$</string>
	<key>BR</key>
	<string>^BR[0-9]{2}[0-9]{23}[A-Z]{1}[a-zA-Z0-9]{1}$</string>
	<key>BY</key>
	<string>^BY[0-9]{2}[a-zA-Z0-9]{4}[0-9]{20}$</string>
	<key>CG</key>
	<string>^CG[0-9]{25}$</string>
	<key>CH</key>
	<string>^CH[0-9]{2}[0-9]{5}[a-zA-Z0-9]{12}$</string>
	<key>CI</key>
	<string>^CI[0-9]{2}[a-zA-Z]{1}[0-9]{25}$</string>
	<key>CM</key>
	<string>^CM[0-9]{25}$</string>
	<key>CR</key>
	<string>^CR[0-9]{2}[0-9]{18}$</string>
	<key>CV</key>
	<string>^CV[0-9]{23}$</string>
	<key>CY</key>
	<string>^CY[0-9]{2}[0-9]{8}[a-zA-Z0-9]{16}$</string>
	<key>CZ</key>
	<string>^CZ[0-9]{2}[0-9]{20}$</string>
	<key>DE</key>
	<string>^DE[0-9]{2}[0-9]{18}$</string>
	<key>DK</key>
	<string>^DK[0-9]{2}[0-9]{14}$</string>
	<key>DO</key>
	<string>^DO[0-9]{2}[A-Z]{4}[0-9]{20}$</string>
	<key>DZ</key>
	<string>^DZ[0-9]{22}$</string>
	<key>EE</key>
	<string>^EE[0-9]{2}[0-9]{16}$</string>
	<key>EG</key>
	<string>^EG[0-9]{25}$</string>
	<key>ES</key>
	<string>^ES[0-9]{2}[0-9]{20}$</string>
	<key>FI</key>
	<string>^FI[0-9]{2}[0-9]{14}$</string>
	<key>FO</key>
	<string>^FO[0-9]{2}[0-9]{14}$</string>
	<key>FR</key>
	<string>^FR[0-9]{2}[0-9]{10}[a-zA-Z0-9]{11}[0-9]{2}$</string>
	<key>GA</key>
	<string>^GA[0-9]{25}$</string>
	<key>GB</key>
	<string>^GB[0-9]{2}[A-Z]{4}[0-9]{14}$</string>
	<key>GE</key>
	<string>^GE[0-9]{2}[a-zA-Z0-9]{2}[0-9]{16}$</string>
	<key>GI</key>
	<string>^GI[0-9]{2}[A-Z]{4}[a-zA-Z0-9]{15}$</string>
	<key>GL</key>
	<string>^GL[0-9]{2}[0-9]{14}$</string>
	<key>GR</key>
	<string>^GR[0-9]{2}[0-9]{7}[a-zA-Z0-9]{16}$</string>
	<key>GT</key>
	<string>^GT[0-9]{2}[a-zA-Z0-9]{4}[a-zA-Z0-9]{20}$</string>
	<key>HN</key>
	<string>^HN[0-9]{2}[a-zA-Z]{4}[0-9]{20}$</string>
	<key>HR</key>
	<string>^HR[0-9]{2}[0-9]{17}$</string>
	<key>HU</key>
	<string>^HU[0-9]{2}[0-9]{24}$</string>
	<key>IE</key>
	<string>^IE[0-9]{2}[a-zA-Z0-9]{4}[0-9]{14}$</string>
	<key>IL</key>
	<string>^IL[0-9]{2}[0-9]{19}$</string>
	<key>IR</key>
	<string>^IR[0-9]{2}0[a-zA-Z0-9]{2}0[0-9]{18}$</string>
	<key>IS</key>
	<string>^IS[0-9]{2}[0-9]{22}$</string>
	<key>IT</key>
	<string>^IT[0-9]{2}[A-Z]{1}[0-9]{10}[a-zA-Z0-9]{12}$</string>
	<key>JO</key>
	<string>^JO[0-9]{2}[A-Z]{4}[0-9]{22}$</string>
	<key>KM</key>
	<string>^KM[0-9]{25}$</string>
	<key>KW</key>
	<string>^KW[0-9]{2}[A-Z]{4}[a-zA-Z0-9]{22}$</string>
	<key>KZ</key>
	<string>^KZ[0-9]{2}[0-9]{3}[a-zA-Z0-9]{13}$</string>
	<key>LB</key>
	<string>^LB[0-9]{2}[0-9]{4}[a-zA-Z0-9]{20}$</string>
	<key>LI</key>
	<string>^LI[0-9]{2}[0-9]{5}[a-zA-Z0-9]{12}$</string>
	<key>LT</key>
	<string>^LT[0-9]{2}[0-9]{16}$</string>
	<key>LU</key>
	<string>^LU[0-9]{2}[0-9]{3}[a-zA-Z0-9]{13}$</string>
	<key>LV</key>
	<string>^LV[0-9]{2}[A-Z]{4}[a-zA-Z0-9]{13}$</string>
	<key>MA</key>
	<string>^MA[0-9]{26}$</string>
	<key>MC</key>
	<string>^MC[0-9]{2}[0-9]{10}[a-zA-Z0-9]{11}[0-9]{2}$</string>
	<key>MD</key>
	<string>^MD[0-9]{2}[a-zA-Z0-9]{2}[a-zA-Z0-9]{18}$</string>
	<key>ME</key>
	<string>^ME[0-9]{2}[0-9]{18}$</string>
	<key>MG</key>
	<string>^MG[0-9]{25}$</string>
	<key>MK</key>
	<string>^MK[0-9]{2}[0-9]{3}[a-zA-Z0-9]{10}[0-9]{2}$</string>
	<key>ML</key>
	<string>^ML[0-9]{26}$</string>
	<key>MR</key>
	<string>^MR[0-9]{2}[0-9]{23}$</string>
	<key>MT</key>
	<string>^MT[0-9]{2}[A-Z]{4}[0-9]{5}[a-zA-Z0-9]{18}$</string>
	<key>MU</key>
	<string>^MU[0-9]{2}[A-Z]{4}[0-9]{19}[A-Z]{3}$</string>
	<key>MZ</key>
	<string>^MZ[0-9]{23}$</string>
	<key>NE</key>
	<string>^NE[0-9]{2}[a-zA-Z]{2}[0-9]{22}$</string>
	<key>NI</key>
	<string>^NI[0-9]{2}[a-zA-Z]{4}[0-9]{24}$</string>
	<key>NL</key>
	<string>^NL[0-9]{2}[A-Z]{4}[0-9]{10}$</string>
	<key>NO</key>
	<string>^NO[0-9]{2}[0-9]{11}$</string>
	<key>PK</key>
	<string>^PK[0-9]{2}[a-zA-Z0-9]{4}[0-9]{16}$</string>
	<key>PL</key>
	<string>^PL[0-9]{2}[0-9]{24}$</string>
	<key>PS</key>
	<string>^PS[0-9]{2}[a-zA-Z0-9]{4}[0-9]{21}$</string>
	<key>PT</key>
	<string>^PT[0-9]{2}[0-9]{21}$</string>
	<key>QA</key>
	<string>^QA[0-9]{2}[A-Z]{4}[a-zA-Z0-9]{21}$</string>
	<key>RO</key>
	<string>^RO[0-9]{2}[A-Z]{4}[a-zA-Z0-9]{16}$</string>
	<key>RS</key>
	<string>^RS[0-9]{2}[0-9]{18}$</string>
	<key>SA</key>
	<string>^SA[0-9]{2}[0-9]{2}[a-zA-Z0-9]{18}$</string>
	<key>SE</key>
	<string>^SE[0-9]{2}[0-9]{20}$</string>
	<key>SI</key>
	<string>^SI[0-9]{2}[0-9]{15}$</string>
	<key>SK</key>
	<string>^SK[0-9]{2}[0-9]{20}$</string>
	<key>SM</key>
	<string>^SM[0-9]{2}[A-Z]{1}[0-9]{10}[a-zA-Z0-9]{12}$</string>
	<key>SN</key>
	<string>^SN[0-9]{2}[a-zA-Z]{1}[0-9]{25}$</string>
	<key>TD</key>
	<string>^TD[0-9]{25}$</string>
	<key>TG</key>
	<string>^TG[0-9]{2}[a-zA-Z]{2}[0-9]{22}$</string>
	<key>TL</key>
	<string>^TL[0-9]{2}[0-9]{19}$</string>
	<key>TN</key>
	<string>^TN[0-9]{2}[0-9]{20}$</string>
	<key>TR</key>
	<string>^TR[0-9]{2}[0-9]{5}[a-zA-Z0-9]{17}$</string>
	<key>UA</key>
	<string>^UA[0-9a-zA-Z]{27}$</string>
	<key>VA</key>
	<string>^VA[0-9]{2}[0-9]{3}[0-9]{15}$</string>
	<key>VG</key>
	<string>^VG[0-9]{2}[a-zA-Z0-9]{4}[0-9]{16}$</string>
	<key>XK</key>
	<string>^XK[0-9]{2}[0-9]{4}[0-9]{10}[0-9]{2}$</string>
</dict>
</plist>
